/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
/* GENERAL */
:root {
    --color-orange: #ff6900;
    --color-white-bg: #ffffff;
    --color-Footer: #1a1a1a;
}
body{
    font-family: 'Noto Sans', sans-serif;
    background-color: white;
    color: black;
}
.container{
    max-width: 1200px;
    margin: 0px auto;
    text-align: center;
}
/* FLEX UTILITY */
.d-flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.s-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
    align-content: center;
}
/* HEADER */
header{
    background-color: var(--color-orange);
    color: var(--color-white-bg);
    width: 100%;
    color: var(--color-white-bg);
    
}
ul li{
    padding: 0 5px;
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
}
.small-logo{
    width: 170px;
}
/* MAIN */

.item{
    width: calc(100% / 3 - 10px);
    cursor: pointer;
}
.item-image{
    position: relative;
}
.second-image{
    display: none;
}

.item-image:hover .first-image{
    display: none;
}

.item-image:hover .second-image{
    display: block; 
}
.heart{
    display: inline;
    font-size: 1.3em;
    color: var(--color-Footer);
    background-color: var(--color-white-bg);
    position: absolute;
    right: 0;
    top: 15px;
    padding: 5px 15px;
}
.badge{
    color:var(--color-white-bg);
    padding: 5px;
    position: absolute;
}
.red{
    bottom: 35px;
    left:0;
    background-color: red;
}
.green{
    background-color: green;
    bottom: 35px;
    left: 50px;
}
.color-grey{
    font-size: 0.8em;
    color: grey;
}
.txt-red{
    font-weight: bold;
    color: red;
}
.txt-line{
    text-decoration: line-through;
}
.txt-left{
    text-align: left;
}
.heart:hover{
    color: red;
}
/* FOOTER */
footer{
    background-color: var(--color-Footer);
    color: var(--color-white-bg);
}
